{{define "content"}}
{{if .Settings.FileUploadEnabled}}
	<p class="file-upload">
		<input type="button" class="btn btn-upload"  value="Upload File">
		<input type="file" class="hide-upload" id="file-upload" >
	</p>
{{end}}

<form class="well" method="POST" action="/paste/create">


  <p>
    <div class="progress progress-striped active">
      <div class="bar"></div>
    </div>
    <textarea rows="10"  style="width:100%;" placeholder="place for your wonderful piece of code" class="input-xlarge" id="content" name="content"></textarea>
  </p>

  {{if .Settings.EnableCaptcha}}

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">

          <div class="span6">

  {{end}}

              <div>
                  <div class="form_left">
                      Expiration:
                  </div>
                  <div class="form_right">
                      <select id="expiration" name="expiration">
                          <option value="burnAfterReading">Burn after reading</option>
                          <option selected value="1_day">1 day</option>
                          <option value="1_month">1 month</option>
                          <option value="never">Never</option>
                      </select>
                  </div>
              </div>

  {{if .Settings.EnableCaptcha}}

                <div>
                    <div class="form_left">
                        Captcha:
                    </div>
                    <div class="form_right">
                        <input id="captchaSolution" style="width: 100px;" name=captchaSolution>
                        <input type=hidden id="captchaId" name=captchaId value="{{.CaptchaId}}">
                    </div>
                </div>

          </div>

            <div class="span6">
              <p><img id=image src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
              <a href="#" onclick="reload()">Reload</a> | <a href="#" onclick="playAudio()">Play Audio</a>
              <audio id=audio controls style="display:none" src="/captcha/{{.CaptchaId}}.wav" preload=none>
                You browser doesn't support audio.
                <a href="/captcha/download/{{.CaptchaId}}.wav">Download file</a> to play it in the external player.
              </audio>
              <select id="lang" onchange="changeLang()">
                  <option value="en">English</option>
                  <option value="ja">Japanese</option>
                  <option value="ru">Russian</option>
                  <option value="zh">Chinese</option>
                </select>
            </div>

      </div>
    </div>
  </div>

  {{end}}

  <button type="submit" name="button" class="btn-primary btn-large"> <i class="icon-plus icon-white"></i> Create New Paste </button>   
</form>


{{if .Settings.EnableCaptcha}}
<script>
  function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
      src = src.substr(0, p);
    }
    e.src = src + "?" + q
  }
  function playAudio() {
    var le = document.getElementById("lang");
    var lang = le.options[le.selectedIndex].value;
    var e = document.getElementById('audio')
    setSrcQuery(e, "lang=" + lang)
    e.style.display = 'block';
    e.autoplay = 'true';
    return false;
  }
  function changeLang() {
    var e = document.getElementById('audio')
    if (e.style.display == 'block') {
      playAudio();
    }
  }
  function reload() {
    setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
    setSrcQuery(document.getElementById('audio'), (new Date()).getTime());
    return false;
  }
  </script>
  {{end}}
  
{{end}}
